:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #6e6e6e;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6e6e6e;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tile {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid #d5d5d5;
  transition: border-radius 1s, background-color 0.5s ease-in;
}
.tile2 {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid #d5d5d5;
  transition: border-radius 1s, background-color 0.5s ease-in;
}
.row {
  display: flex;
  gap: 1em;
  margin-bottom: 5px;
}

.tile.selected {
  background-color: green;
}
.tile2.selected {
  background-color: green;
}
.circle {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
}
.rounded {
  border-radius: 30%;
  height: 100px;
  width: 100px;
  background-color: white;
}
.controlers {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1em;
  max-width: 460px;
  padding: 2em;
  margin: auto;
}
.controler {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.controler input,
.controler select,
.controler label {
  width: 100%;
  flex: 1;
  font-size: 1.5rem;
}
.controler input {
  padding: 0;
  border: 1px;
}

.controler input,
.controler select {
  background-color: #6e6e6e;
}

input + span {
  display: none;
}
input:invalid + span {
  display: block;
  font-size: 1rem;
  background-color: red;
  color: white;
  padding: 10px;
}

::placeholder {
  color: white;
  font-size: 1rem;
  padding-left: 5px;
}

#notification {
  position: fixed;
  display: block;
  height: 50px;
  width: 100%;
  top: 0px;
  right: 0;
  transform: translate(0, -100%);
  transition: all 0.3s;
}

#notification.show {
  transform: translate(0, 0);
  display: flex;
  flex-direction: column;
}
#notification .msg {
  margin-top: 10px;
  text-align: center;
  color: white;
}
#notification:has(.success) {
  background-color: green;
}
#notification:has(.failed) {
  background-color: red;
}

@media screen and (max-width: 500px) {
  .tile {
    width: 60px;
    height: 60px;
  }
  .tile2 {
    width: 50px;
    height: 50px;
  }
  .row {
    margin-bottom: 10px;
  }
}
/* new game  */
.new-game {
  margin-block: 50px;
  background-color: #efefef;
  padding-bottom: 50px;
  border-radius: 2em;
}
.flipper-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#flipper {
  margin-bottom: 2em;
}
#fliper-results {
  position: fixed;
  bottom: 0px;
  background: green;
  color: #fff;
  padding: 2em;
  width: 100vw;
  text-align: center;
  transform: translate(0,400%);
  transition: all 0.4s ease-in-out;
}
#fliper-results.shown {
  transform: translate(0, 0);
}